# dependencies
**/node_modules
/.pnp
.pnp.js
**/.ipynb_checkpoints
venv/
.venv/
certbot/
/coverage
**/build

# misc
__pycache__
.DS_Store
**/.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/server_status.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.geminiignore
.claude/
.venv/
__pycache__/
.ipynb_checkpoints/
.env
.codex_work/
~$*

# Specific to this project
archived/
# data folder
/server/history
/server/database/
# hide from publication
publication/Datasets/
publication/results/**/model/
publication/results/**/*.spacy
publication/results/**/workdir/
publication/*.db

publication/results/
publication/missing_entities.csv
