.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
instance/
bin/
build/
develop/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.pytest_cache
.vscode
.git
.gitignore
history/
database/
