Flask>=2.3
flask-cors>=4.0
flask-socketio>=5.6.1

python-dotenv>=1.0
docx

requests>=2.31
urllib3>=2.0
charset-normalizer>=3.3

pandas>=2.0
openpyxl

python-docx>=1.1

PyMuPDF>=1.23

openai>=1.0
google-genai>=0.3

## BERT model related
transformers
torch
datasets
evaluate
seqeval
accelerate>=1.1.0

# Production Server
gunicorn
